/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_reset
 *= require_self
 *= require_tree .
*/

*{font-family: 'helvetica neue', helvetica, arial, sans-serif;}

#content {width:970px; height:100%; margin: 0 auto;}

.clear {clear:both}

@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  src: local('Lilita One'), local('LilitaOne'), url('http://themes.googleusercontent.com/static/fonts/lilitaone/v1/4FUUC-PxqHfbmE-DcA6LXL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

::-webkit-scrollbar-track{background-color:#777; border-radius:4px}

::-webkit-scrollbar-thumb { height:5px;
	border-radius: 4px;
	background-color: #fff;
	;
}