#header {min-height:50px; width:100%; background:#333; margin:0px; padding: 0px; float:left}

#header #logo {height:40px; min-width:240px; margin:10px 0px 0px 10px; float:left;}

#header p {color:#fff}

#header h1 {width:100%; text-align:center}
#header h1 a {font-family: 'Lilita One'; color:#C80; font-size:36px; text-decoration:none;}